@using Microsoft.AspNet.Identity;
@using ClothStore.Models
@using Microsoft.AspNet.Identity.EntityFramework;

@{var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var user = userManager.FindById(User.Identity.GetUserId()); }

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:small">@user.Name</a>
                <ul class="dropdown-menu">
                    <li><a href="/Customer/Tracking">Đơn hàng của tôi</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="fa-regular fa-circle-user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            </ul>
        </li>
    </ul>
}

<script src="https://kit.fontawesome.com/818e023cf2.js" crossorigin="anonymous"></script>
