@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Xác  nhận Email</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/css/loginstyle.css" rel="stylesheet">
</head>
<body>
    <div class="login-box">
        <h2 style="color: #e99c2e">Xác nhận Email</h2>
        <h4 style="color: #fff; text-align: center; position: center; display: block">Bạn vui lòng kiểm tra Email để tiến hành đặt lại mật khẩu mới!</h4>
    </div>
</body>
</html>

