@{
    ViewBag.Title = "Thông Tin Sản Phẩm";
}


<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="section-header">
            <h2  style="margin: 50px 0 70px">Chi Tiết Sản Phẩm</h2>
        </div><!--/.section-header-->
        <div class="contact_section layout_padding">
            <div class="container">
                <div class="contact_section_2">
                    <div class="row">

                        <div class="container bootdey">
                            <div class="col-md-12">
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <img src="https://www.bootdey.com/image/550x380/FFB6C1/000000" alt="images">
                                            <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a rel="tag" href="#">womens</a></span>
                                            <div class="d-grid gap-2 d-md-block">
                                                <button class="btn btn-success" type="button">Sửa sản phẩm</button>
                                                <button class="btn btn-danger" type="button">Xóa sản phẩm</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h2>Bạch Thái Đăng Khoa</h2>
                                            <p>
                                                Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor, The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally.
                                            </p>

                                            <div class="m-bot15"> <strong>Giá: </strong><span class="pro-price">$999999999</span></div>
                                            <div class="form-group">
                                                <label>Số lượng:</label><input type="number" placeholder="1" min="0" class="form-control quantity" style="width:80px">
                                            </div>
                                            <p>
                                                <button class="btn btn-info" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                            </p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="map_main">
                                <div class="map-responsive">
                                    <img scr="#" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>