@{
    ViewBag.Title = "Thông Tin Sản Phẩm";
}


<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="section-header">
            <h2  style="margin: 50px 0 70px">Chi Tiết Sản Phẩm</h2>
        </div><!--/.section-header-->
        <div class="contact_section layout_padding">
            <div class="container">
                <div class="contact_section_2">
                    <div class="row">

                                <div class="card mb-3" style="max-width: 1050px;">
                                        <div class="col-md-4" style="text-align:center">
                                            <img src="~/Content/images/collection/arrivals1.png" class="img-fluid rounded-start" alt="images">
                                            @*<div class="d-grid gap-2 d-md-block">
                                                <button class="btn btn-block" type="button">Sửa sản phẩm</button>
                                                <button class="btn btn-block" type="button">Xóa sản phẩm</button>
                                            </div>*@
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Bạch Thái Đăng Khoa dễ thương</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                <p class="card-text"><small class="text-muted"><b>$999999999</b></small></p>
                                                <button class="btn btn-info" type="button">Thêm vào giỏ hàng</button>
                                            </div>
                                        </div>
                                        @*<div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary me-md-2" type="button">Button</button>
                                            <button class="btn btn-primary" type="button">Button</button>
                                        </div>*@
                                </div>

                        <div class="col-md-6">
                            <div class="map_main">
                                <div class="map-responsive">
                                    <img scr="#" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>