@{
    ViewBag.Title = "Trang Chủ";
}

<!--sofa-collection start -->
<section id="sofa-collection" style="margin-top: 100px">
    <div class="owl-carousel owl-theme" id="collection-carousel">
        <div class="sofa-collection collectionbg1">
            <div class="container">
                <div class="sofa-collection-txt">
                    <h2>Christian Dior</h2>
                    <p>
                        Christian Dior is a French luxury fashion brand known for its haute couture, ready-to-wear collections, accessories, and fragrances. Founded in 1946 by Christian Dior in Paris, the brand is celebrated for its feminine, elegant, and innovative designs. Today, Christian Dior is a global brand with a presence in over 200 locations worldwide.
                    </p>
                </div>
            </div>
        </div><!--/.sofa-collection-->
        <div class="sofa-collection collectionbg2">
            <div class="container">
                <div class="sofa-collection-txt">
                    <h2>Louis Vuitton</h2>
                    <p>
                        Louis Vuitton is a luxury fashion and leather goods brand known for its high-quality products and iconic designs. Founded in Paris in 1854, Louis Vuitton has become a global brand with stores all over the world.
                    </p>
                </div>
            </div>
        </div><!--/.sofa-collection-->
    </div><!--/.collection-carousel-->

</section><!--/.sofa-collection-->
<!--sofa-collection end -->
<!--populer-products end-->
<!--new-arrivals start -->
<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="section-header">
            <h2>Sản Phẩm Mới</h2>
        </div><!--/.section-header-->
        <div class="new-arrivals-content">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-4">
                        <div class="single-new-arrival">
                            <div class="single-new-arrival-bg">
                                <a href="/Product/Details/@item.MaMatHang">
                                    <img src="@item.HinhAnh" alt="images" style="height: 360px; width: 360px; object-fit: contain">
                                </a>
                                <div class="single-new-arrival-bg-overlay"></div>
                                <div class="new-arrival-cart">
                                    <p>
                                        <span class="lnr lnr-cart"></span>
                                        <a href="@Url.Action("ThemGioHang","GioHang", new { MaMatHang = item.MaMatHang,
                                            @strURL = Request.Url.ToString()})">Thêm <span>vào </span> giỏ hàng</a>
                                    </p>
                                    <p class="arrival-review pull-right">
                                        <span class="lnr lnr-heart"></span>
                                        <span class="lnr lnr-frame-expand"></span>
                                    </p>
                                </div>
                            </div>
                            <h4><a href="/Product/Details/@item.MaMatHang">@item.TenMatHang</a></h4>
                            <p class="arrival-product-price">@item.DonGia</p>
                        </div>
                    </div>
                }

                <button type="button" class="btn btn-block" onclick="window.location.href='/Product/Product'"><b>Tất cả sản phẩm</b></button>

            </div><!--/.container-->
        </div>
    </div>

</section><!--/.new-arrivals-->
<!--new-arrivals end -->

<script src="https://kit.fontawesome.com/818e023cf2.js" crossorigin="anonymous"></script>